  * {
      box-sizing: border-box;
    }

    /* Added the .about class name to the row and column selectors */
    .about .row {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      margin-bottom: 20px;
    }

    .about .column {
      flex: 33.33%;
      padding: 10px;
      /* Added the border and border-radius properties */
      border: 1px solid black;
      border-radius: 10px;
    }

    .title {
     color:  #27251F;
     font-size: 34px;
     font-weight: bold;
     text-align: center;
    }

    .title:hover {
    color: #5F6062;
    font-weight: bold;
    text-decoration: underline;
   }


    .about-image {
      display: block;
      width: 80%;
      height: auto;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
    }

    /* Added the text-align property to the text and figcaption selectors */
    .text {
      font-size: 17px;
      text-align: center;
      margin: 15px;
    }
    
  .parent {
  text-align: center; /* Center the child elements */
  }