*
{
    margin: 0;
    padding: 0;
}

/*---------Navigation-------*/
#nav-bar
{
    position: top;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 60px;
    padding-left: 30px;
}
.navbar
{
    background: transparent;
}
.navbar-nav li
{
    padding: 0 30px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #5F6062!important;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #27251F!important;
    font-weight: 600;
    font-size: 24px;
}
/*--Title--*/
.content
{
    width: 100%;
    position: relative;
    margin-top: 10px;
    text-align: center;
    color: #27251F;
}
.content h1
{
    font-size: 15vw; /* 15% of the viewport width */
    margin-top: 15px;
}
.content h2
{
    font-size: 10vw;
}
.content p
{
    font-size: 7vw;
    margin: 20px auto;
    font-weight: 100;
    line-height: 40px;
}
.content2
{
    width: 100%;
    position: relative;
    margin-top: 50px;
    text-align: center;
    color: #27251F;
}
.content2 h2
{
    text-decoration: underline;
    font-size: 60px;
    margin-top: 30px;
}
/*--Four Pics--*/
.fourpics
{
    text-align: center;
    width: 100%;
    position: relative;
    top: 10%;
    margin-top: 50px;

}
.fourpics img
{
    height: auto;
    max-width: 40%;
}

/*--Four Pics--*/

.prgvid
{
  position: relative;
}
.programgif
{
    text-align: center;
    width: 100%;
    position: relative;
    top: 10%;
    margin-top: 50px;

}
.programgif img
{
    height: auto;
    max-width: 30%;
}

/**Footer**/

.footer-basic {
    padding:30px 0;
    background-color: #cbb677;
    color:#27251F;
    position: relative;
    top: 50%;
    margin-top: 70px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:20%;
    border:1px solid #5F6062;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#5F6062;
    margin-bottom:0;
  }
  /*--Columns Change of Background of inside and border of the box--*/
   .custom-column {
            background-color: #bebebe;
            padding: 20px;
            border: 1px solid black;
  }

 /*--css for the pics in the boxes of the columns--*/
 
 .Showcasepics
  {
    text-align: center;
    width: 100%;
    position: relative;
    top: 10%;

  }
 .Showcasepics img
  {
    height: auto;
    max-width: 80%;
  }

  /**Index Program Info**/
.programinfo
{
    margin-top: 50px;
}
  #programpic
  {
    width: 100%;
    height: auto;
  }
  .programinfo h2
  {
    font-size: 70px;
  }
  .programinfo p
  {
    font-size: 25px;
  }
  .hr
  {
    margin: 5vw;
  }

/**ProgramPages**/

.programpageinfo
{
    margin-top: 50px;
}
  #programpic
  {
    width: 100%;
    height: auto;
  }
  .programpageinfo h2
  {
    font-size: 70px;
  }
  .programpageinfo p
  {
    font-size: 25px;
  }
  .hr
  {
    margin: 5vw;
  }



  /**ProjectPoetry**/
.poemcontainer
{
  margin-top: 100px;
  border: 0px black;
  border: 0px solid black;
border-radius: 0px;
}
#poembutton{
  padding-top: 150px;
}
/**ProjectBlizzard**/


#blizzcontain
{
  padding-top: 50px;
}
.blizzside img
{
  height: auto;
  max-width: 100%;
  padding-bottom: 20px;
}
.blizzcenter img
{
  height: auto;
  max-width: 100%;
  padding-bottom: 20px;
}
/**ProgramPages**/


#sroll-image img
{
  position: absolute;
  left: 400px;
  height: auto;
  width: 1000px;
}

/**ProgramInstructors**/



.programinstructors
{
  padding-top: 50px;
  text-align: center;
}

#instructorpic
{
  width: 60%;
  height: auto;
  Display: block;
  Margin: auto;
  border-radius: 40%;
}

.instructorcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.border-right {
  border-right: 1px solid black;
}
.border-left {
  border-left: 1px solid black;
}

.title {
      color: #27251F;
     font-size: 34px;
     font-weight: bold;
     text-align: center;
    }

    .title:hover {
    color:#5F6062;
    font-weight: bold;
    text-decoration: underline;
   }